%p#notice= notice

%p
  %b Callable:
  = @phone_number.callable
%p
  %b Number:
  = @phone_number.number
%p
  %b Phone:
  = @phone_number.phone
%p
  %b Primary:
  = @phone_number.primary

= link_to 'Edit', edit_phone_number_path(@phone_number)
\|
= link_to 'Back', phone_numbers_path
